﻿/* Individual Page Style */

.top_seller {
    font-size: medium;
    color: red;
}

.low_quantity {
    color: dodgerblue;
    font-weight: 700
}

.dark_red {
    color: darkred;
}

.bold {
    font-weight: 700;
}

.col-sm-6 {
    font-size: x-large;
    text-emphasis-position: below;
    text-align: left;
    text-size-adjust: auto;
    border-spacing: inherit;
}

.stars {
    width: 200px;
    height: 60px;
    align-content: center;
}

body {
}
