﻿
/*body h2 #main-content {
                align-content: center;
                align-self: center;
                /*empty-cells:inherit;*/
/*margin: 20px;*/
/*border:dashed;*/
/*padding: 0px;*/
}

*/
.col-sm-12 {
    align-content: center;
}

.side-header {
    font-weight: 700;
}

span {
    color: red;
    font-size: xx-small;
    font-weight: 700;
}

h2 {
    text-align: center;
}

.row {
}

img {
    width: 110px;
    height: 110px;
    position: center;
    align-self: center;
    border: none;
    border-color: Window;
}
