﻿
.col-sm-12 {
    align-content: center;
}

.side-header {
    font-weight: 700;
}

span {
    color: red;
    font-size: xx-small;
    font-weight: 700;
}

h2 {
    text-align: center;
}

img {
    width: 110px;
    height: 110px;
    position: center;
    align-self: center;
    border: none;
    border-color: Window;
}
