﻿/* Individual Page Style */

h2 {
    text-align: center;
}

.top_seller {
    font-size: xx-small;
    color: red;
}

.low_quantity {
    color: dodgerblue;
    font-size: smaller;
    font-weight: 700
}

.dark_red {
    color: darkred;
}

.bold {
    font-weight: 700;
}

.spacer {
    visibility: collapse;
}

hr:last-child {
    visibility: hidden;
}

.col-sm-4 {
    width: 190px;
    height: 110px;
    vertical-align: bottom;
}

.col-sm-6 {
    text-emphasis-position: above;
    text-align: left;
}

.stars {
    width: 80px;
    height: 25px;
    align-content: center;
}
