﻿@using SSGeek.Models
@model Product

@{
        ViewBag.Title = "Detailed Item View";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/Content/detail.css" />
<title>Solar System Gift Shop- List View via Bootstrap</title>
<section id="centeredPanel">
    <h2>Solar System Gift Shop</h2>

    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/content/img/@Model.ImageName" alt="@Model.ImageName" class="toys" />
            </div>
            <div class="col-sm-6">
                <span class="bold">
                    @Model.Name
                </span>
                <br />

                <span class="dark_red bold">$@Model.Price</span> <br />
                <br />
                <br />
                <span class="bold">Description</span><p>@Model.Description</p>
            </div>
            @*<form action="/ShoppingCart/AddItemToCart" method="post">*@
            @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))

            {
                @Html.HiddenFor(m => m.ProductId)
                <div>
                    @Html.Label("Quantity", "Quantity to buy")
                    <input type="number" name="quantity" />
                    @*<button> Add to Cart </button>*@
                    <input type="submit" value="Add to Cart" class="btn btn-default" />
                    @*@Html.TextBox(@Model.Quantity.ToString())
                        @Html.Hidden(@Model.ProductId.ToString())*@
                    @*</form>*@

                </div>
            }
        </div>
    </div>
    </section>
    @*@model SSGeek.Models.Product

        @{
            ViewBag.Title = "Product Detail";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <h2>Detail</h2>


        @Html.BeginForm("Detail", "ShoppingCart", FormMethod.Get))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
