﻿@using SSGeek.Models
@model IEnumerable<SSGeek.Models.Product>

@{
    ViewBag.Title = "Solar System Gift Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/list.css" />

<title>List View via Bootstrap</title>

<h2>Solar System Gift Shop</h2>
@Html.BeginForm("Index", "ShoppingCart", FormMethod.Get))
    <br />
<div class="container-fluid">

    @{ foreach (Product product in Model)

        {
            <div class="row">
                <div class="col-sm-4">

                    <a href=@Url.Action("Detail", "Product", new { id = product.ProductId })>
                        <img class="img-fluid" src="~/content/images/@product.ImageName" alt="@product.ImageName" width="160" height="110">
                    </a>
                </div>
                <div class="col-sm-6">
                    <span class="bold">
                        @Html.ActionLink(@product.Name, "Detail", "Product", new { id = product.ProductId }, null)
                    </span><br />
                    }
                    }
                    <span>@product.Description</span><br />
                    <span class="dark_red bold">$@product.Price</span> <br />

                </div>
                <div class="col-sm-2">
                    <img class="spacer" />
                </div>
            </div>
            <hr length="100%">
        }
    }
</div>

